/***************************
GENERAL
****************************/
body {
  font-family:'Open Sans', sans-serif;
}


a {
  text-decoration:none;
}

#wrapper {
  max-width:940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width:100%;
}

h3 {
  margin: 0 0 1em 0;
}
/***************************
HEADING
****************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: #468966;
    
}

#logo {
  text-align: center;  
  margin: 0;
}

#logo img {
/*  max-height: 10%;*/
  max-width: 20%;
  margin: 4% 45% 0;
  transition: .5s ease-in-out;

}

#logo img:hover {
  -webkit-transform: scale(1.1) rotate(7deg);
  -ms-transform: scale(1.1) ) rotate(7deg);
  -moz-transform: scale(1.1) rotate(7deg);
  -o-transform: scale(1.1) rotate(7deg);
  transform: scale(1.1) rotate(7deg);
}

h1 {
  font-family:'Poller One', sans-serif;
  margin: 15px 0;
  font-size:2.5em;
  font-weight:normal;
  line-height:0.8em;
}

h2 {
  font-size: 1.5em;
  margin: -5px 0 0;
  font-weight: normal;
}

/***************************
NAVIGATION
****************************/

nav {
  text-align:center;
  padding: 10px 0;
  margin:20px 0 0;
}

nav ul {
  list-style:none;
  margin: 0 10px;
  padding:0;
}

nav li {
  display:inline-block
}

nav a {
  font-weight: 700;
  padding:5px 10px;

}
/***************************
FOOTER
****************************/
  
footer {
    font-size:0.75em;
    text-align:center;
    clear: both;
    padding-top:50px;
    color: #ccc;
}
    


.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
/***************************
PAGE PORTFOLIO
****************************/

#gallery {
  margin:0;
  padding:0;
  list-style:none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color:#f5f5f5;
  color: #bdc3c7;
}    

#gallery li a img {
  border-radius: 25%
}

#gallery li a p {
  margin:0;
  padding : 5%;
  font-size:0.85em;
  color: #bdc3c7;
}  

/***************************
PAGE ABOUT
****************************/

.fresco-photo {
  display: block;
  max-width:150px;
  margin: 0 auto 30px;
  border-radius:45%;
}
    
.statue-photo {
  display: block;
  max-width:150px;
  margin: 0 auto 30px;
  border-radius:45%;
  margin-top: 50px;
}
    

/***************************
PAGE CONTACT
****************************/
.contact-info {
  list-style:none;
  padding:0;
  margin:0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height:20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding:0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li a {
  color: #B64926;
}

.contact-info li a:hover {
  color: #8E2800;
}

.contact-info li.phone a {
  background-image:url('../img/phone.png');
}

.contact-info li.mail a {
  background-image:url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image:url('../img/twitter.png');
}
  

/***************************
PAGE QUIZ
****************************/

.quizapple {
  display: block;
  max-width: 60%;
  min-width: 40%;
  border-radius: 20%;
  margin: 15px auto;
}

.quiztext  {
  font-size: 1.0em
  font-family: 'Open Sans', sans-serif;
}

.btn {
  display: block;
  margin: 2% auto;
  font-size: 0.82em;
  max-width: 26%;
  min-width: 17%;
  transition: .5s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1) rotate(7deg);
  -ms-transform: scale(1.1) ) rotate(7deg);
  -moz-transform: scale(1.1) rotate(7deg);
  -o-transform: scale(1.1) rotate(7deg);
  transform: scale(1.1) rotate(7deg);
}

/***************************
COLORS
****************************/
 /* site body*/
body {
  background: #fff;
  color: #999  
}


/* green header*/
header {
  background: #468966;
  border-color: #FFF0A5;
}
/* logo text*/
h1, h2 {
  color: #FFF0A5
}

/* link color*/
a {
  color: #B64926;
}

/*nav backround on mobile*/
nav {
  background: #FFB03B;
}
/*nav  links*/
nav a, nav a:visited {
  color: #fff;
}
/*selected and moused over nav links */
nav a.selected, nav a:hover{
  color: #B64926;
}


/***************************

****************************/